<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li>
                <a href="@Url.Action("Pokemon", "Series")"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.layouts">Pokémon</span></a>
            </li>
            <li>
                <a href="@Url.Action("Yugioh", "Series")"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.layouts">Yu-Gi-Oh!</span></a>
            </li>
            <li>
                <a href="@Url.Action("", "CustomSets")"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.layouts">Custom Sets</span></a>
            </li>
            <li class="special_link">
                <a href="@Url.Action("Index", "MissionStatement")"><i class="fa fa-star"></i> <span class="nav-label" data-i18n="nav.landing">Mission Statement</span></a>
            </li>
        </ul>
    </div>
</nav>