
@{
    ViewData["Title"] = "Dashboard";
}

<div style="margin:auto; width:50%; padding-top:20px; text-align:center">
    Welcome to PopHistory!
    <br /> <br />
    This site tracks the population of PSA graded cards.
</div>